@model HW7Project.Models.Products

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>商品資料修改</h2>

@using (Html.BeginForm("Edit", "Products",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID)
    @Html.HiddenFor(model => model.Discontinued)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.ImageMimeType)
    @Html.HiddenFor(model => model.PhotoFile)
   

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhotoFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            原有照片→<img src="@Url.Action("GetImage", new {id=Model.ProductID})" width="300" />
            新照片預覽→<img width="200" id="newPhoto" />

            <input id="photo" name="photo" type="file" class="form-control" data-val="true" data-val-required="請上傳商品照片" />
            <span class="field-validation-valid text-danger" data-valmsg-for="photo" data-valmsg-replace="true"></span>
            <span class="field-validation-valid text-danger">@ViewBag.ErrMessage</span>

        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.PhotoFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoFile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhotoFile, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.ImageMimeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageMimeType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageMimeType, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<input id="Discontinued" name="Discontinued" type="hidden" value="@Model.Discontinued" />*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Discontinued, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Discontinued)
                    @Html.ValidationMessageFor(model => model.Discontinued, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
    @*<input id="Discontinued" name="CreatedDate" type="hidden" value="@Model.CreatedDate" />*@
    @*<div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.CreatedDate, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="確定更新" class="btn btn-warning" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("回商品清單", "Index")
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#photo").change(() => {
        var oFReader = new FileReader();
        var file = document.getElementById('photo').files[0];
        oFReader.readAsDataURL(file);
        oFReader.onloadend = function (oFRevent) {
            var src = oFRevent.target.result;
            $('#newPhoto').attr('src', src);
        }
    });
</script>