@model HW7Project.Models.Members

@{
    ViewBag.Title = "Details";
}

<h2>尊絕不凡會員詳細資料</h2>

<div>
    <h4>尊絕不凡會員們</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <h3>@Html.DisplayFor(model => model.MemberName)</h3>
</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h4>
                        生日:@Html.DisplayFor(model => model.MemberBirthday)
                    </h4>
                    <h4>
                        帳號:@Html.DisplayFor(model => model.Account)
                    </h4>
                    <h4>
                        密碼:¯\_(ツ)_/¯問我？
                    </h4> 
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.MemberPhotoFile)
                    @if (Model.MemberPhotoFile == null)
                    {
                        <img src="~/MemberPhoto/defaultPhoto.png" class="img-thumbnail" />
                    }
                    else
                    {
                        <img src="~/MemberPhoto/@Model.MemberPhotoFile" class="img-thumbnail" />
                    }
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

    </div>
    <!--<dl class="dl-horizontal">-->
        @*<dt>
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>*@

        <!--<dt>
            @Html.DisplayNameFor(model => model.MemberPhotoFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberPhotoFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberBirthday)
        </dd>-->

        @*<dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>*@

        <!--<dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>-->

        @*<dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>*@

        <!--<dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>-->
</div>
<p>
    @*@Html.ActionLink("編輯", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("回到列表", "Index")*@
</p>
