@model IEnumerable<HW7Project.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>社畜列表</h2>

<p>
    @Html.ActionLink("新增社畜", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.EmployeesId }) |
            @Html.ActionLink("內容", "Details", new { id=item.EmployeesId }) |
            @Html.ActionLink("賜死", "Delete", new { id=item.EmployeesId })
        </td>
    </tr>
}

</table>
